.no-page{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    div{
        font-size: 20rem;
        background: linear-gradient(45deg , aqua, #00f, red, #0d0d52, #00f) ;
        background-clip: text;
        color: transparent;
    }
    a{
        padding: 2rem;
        background: linear-gradient(to right, #15155a, #297373);
        color: #fff;
        color: 2rem;
        font-weight: 600;
        border-radius: 20rem;
        &:hover {
          background: linear-gradient(to left, #15155a, #297373);
        }
    }
}