header {
  padding: 1rem 0;
  .header-main {
    display: flex;
    align-items: center;

    .logo {
      display: block;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 4rem;
      list-style: none;
      .menu-item{
          a{
            font-size: 1.8rem;
            font-weight: 500;
            color: #15155a;
          }
      }
    }

    .search {
      margin-left: auto;
      padding: 1.5rem 2.5rem;
      border: 0.1rem solid #eee;
      border-radius: 0.8rem;
      width: 100%;
      max-width: 320px;
      display: flex;
      align-items: center;
      position: relative;
      margin-right:4rem;
      .search-input{
          flex: 1;
          padding-right: 4.5rem;
      }
      .search-icon{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right:2rem;
          font-size: 3rem;
      }
    }

    .btn-header{
        margin-left: 6rem;
        width:150px;
        background: linear-gradient(to right, #15155a, #297373);
        &:hover {
          background: linear-gradient(to left, #15155a, #297373);
        }
    }
  }
}
